.cart-list{
    border:1px solid #eee;
    min-height:180px;
    padding:15px;
    border-radius:15px;
    box-shadow:3px 3px 15px rgba(0,0,0,0.3);
}
.cart-item-img{
    margin-right:20px;
    max-width:150px;
}
.cart_items{
    background-color: white;
}