.main-course-wrapper{
    background:url(/image/Online-makarons-techniques_pic_main.jpg);
    height:500px;
    background-size:cover;
}
.main-course-inner{
    background:rgba(255,255,255,0.7);
    height:100%;
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
}
.sBlock.main-course-block{
    background-size: cover;
    background-position: 0 30%;
    height:410px;
    box-shadow: 2px 4px 15px rgba(0,0,0,0.5);
}
.sBlock.main-course-block .sCover{
    padding:20px 30px;
}
.sBlock.sub-main-item{
    background-size: cover;
    background-position: 0 50%;
    background-size: cover;
    height:200px;
    box-shadow: 2px 4px 15px rgba(0,0,0,0.5);
}