@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);
*{
	outline: none !important;
}
shtml,body{
    height: 100%
}

body {
	font-family: 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
	font-size: 14px;
	font-weight:300;
}
h1,h2,h3,h4{font-weight:300;}

.form-group {
    margin-bottom: 10px;
}

.social {
    background:#faf9e6;
    height:30px;
}
a {
	color:#750b2c;
	font-weight: 300;
}
a:hover {
	color:#ca3b67;
}

.header {
    min-height:85px;
}
h3 {color:#2bb3db; font-size: 19px;}
h4 {color:#98924d;}

.logo {
    text-align: left;
}

.logo img {
    max-width: 95%;
    margin-left: 5%;
    margin-top: 18px;
}

.navlogo {

}
.navlogo>li>a {
 	color:#787878;
 	font-size:18px;
    line-height: 55px;
    padding: 15px 25px;
    font-weight: 300;
}

.navbar-kica {
	border: 0px;
	border-top:1px solid #7b7b7b;
	background:#0d3642;
	border-radius:0;
    margin-bottom: 0px;
    min-height: 50px;
}

.navbar-login {
    background:#477e8e;
}





.navbar-kica li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    line-height: 30px;
    padding:8px 25px 12px 25px;
    font-weight:300;
}
.navbar-kica li.active, .navbar-kica li a:hover {
    background: #2d515b;       
}
.navbar-kica .open>a, .navbar-kica .open>a:hover, .navbar-kica .open>a:focus {
	background: #2d515b;
	color:#fff;
}
.navbar-nav>li>.dropdown-menu {
	background: #fff;
}
.navbar-nav>li>.dropdown-menu a {
	color:#750b2c;
    font-size: 16px;
    font-weight: 300;
	padding: 5px 15px;
}
.navbar-kica li>a:hover, .navbar-kica li>a:focus {
    background: #2d515b; 
    color:#fff;
}
.navbar-kica span.glyphicon-facetime-video {
	margin-right:10px;
	color:#fff;
}
.chiefsList div {
	text-align:center;
	height:180px;
    font-size: 16px;
}



.btnSocial {
	min-height:100px;
    text-align: center; 
}

.btnSocial-chiefs {
    position: relative;
    text-align: center;
}


.subscribe {
    background: #999;
    color: #fff;
    padding: 20px;
    height: 410px;
    min-width: 255px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: justify;
    font-size: 17px;
    
}
.footer {
	background:#0d3642;
	color:#ffffff;
	padding:15px;
	min-height:100px;
}
.footer a {
	color:#ffffff;
}

.chiefPhoto {
	width: 60px;
	height: 60px;
	border-radius: 90px;
	display: inline-block;
	border: 1px solid rgba(255,255,255,1);
}

.chiefPhoto-list {
    width: 125px;
    height: 125px;
    border-radius: 90px;
    display: inline-block;
    margin-bottom: 10px;
}

.chiefPhotoSm {
	width:90px;
	height:90px;
	border-radius:50px;
	display:inline;
}

.chiefPhotoBig {
    width:100%;
    border-radius:275px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin-top: 10px;
}
.chiefPhotoBlock {
	text-align:center;
	width:90px;
}
.chiefPhotoBlock a {
	font-size:20px;
}
.cheifTitle {
    color:#477e8e;
    font-size:32px;
    margin-top: 10px;
}

.chiefGallery {
    border-bottom:2px solid #477e8e;
}

.chiefGallery img {
	width:100%;
	max-width:400px
}

.breadcrumb {
	background:none;
    margin-bottom: 0px;
}
.breadcrumb>.active {
    color: #477e8e;
}



.articleBlockPic img {
	width:100%;
	margin-bottom:10px;
}
.articleBlockLink {
	margin-bottom:5px;
    font-size: 16px;
}


.recipeBlock {
	height:320px;
	margin-bottom:10px;
}
.recipeTitle {
	color:#423f17;
	margin-bottom:10px;
	display:block;
	font-weight:400;
	color:#750b2c;
	text-decoration:underline;
}
.recipeCover {
	padding:10px 35px 15px 10px;
	color:#423f17;
	background-color: rgba(255, 255, 255, 0.75);
	height:120px;
	position:absolute;
	bottom:0px;
	width:100%;
}
.navbar-collapse {
    padding-left: 0px;
}

.langSelect {
	background:none;
	border:0px;
}
.curSelect {
	background:none;
	border:0px;
    border-bottom: dashed 1px #ccc;
    text-decoration: none;
    cursor:pointer;
    padding: 0;
}



.articleImg {
width:100%;
max-height:300px;
}

.sBlock {
	height:480px;
	width:100%;
	margin-bottom:10px;
	position:relative;
}
.sBlock a {
	color:#423f17;
	margin-bottom:10px;
	display:block;
	font-weight:400;
	color:#fff;
    font-size: 19px;
}
.sBlockBig {
	height:320px;
	width:100%;
	margin-bottom:10px;
	position:relative;
}
.sBlockBig a {
	color:#423f17;
	margin-bottom:10px;
	display:block;
	font-weight:400;
	color:#fff;
}
.sCover {
	display:block;
	padding:5px 10px 5px 10px;
	height:100%;
    background: none;
}
.sCover:hover {
    background: none;
}
.sCoverPaid {
	display:block;
	padding:5px 10px 5px 10px;
	height:100%;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.1)); /* Standard syntax (must be last) */
}
.sCoverPaid:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.sChief {
    position: absolute;
    left: 25px;
    bottom: 15px;
    z-index: 100;
}
.sIcoPlay {
	position:absolute; 
	bottom: 45%; 
	left:45%;
}
.sIcoWatch {
	position:absolute; 
	bottom: 45%; 
	left:25%;
}
.sIcoWatch div {
	padding:7px 10px;
	background:#000;
	opacity:0.5;
	border-radius:5px;
	text-align:center;
}
.sIcoWatch div span {
	color:#fff;
	font-size:20px;
}
.sIcoWatch div span:hover {
	color:#fff;
}
.sIcoPlay div {
	padding:7px 10px;
	background:#000;
	opacity:0.5;
	border-radius:5px;
	text-align:center;
}
.sIcoPlay div span {
	color:#fff;
	font-size:25px;
}
.sCoverLine {
	position:absolute; 
	bottom: 0px; 
	left:0;
	color:#750b2c; 
	width:100%; 
	height:50px; 
	padding-top: 12px;
	background-color: rgba(255, 255, 255, 0.75);
}
.sCoverLabel {
	position: absolute;
    bottom: 70px;
    color: #750b2c;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    right: 20px;
    font-weight:400;
}
.sCoverLabel2 {
	position: absolute;
    bottom: 70px;
    color: #FCFF95;
    padding: 10px;
    background-color: rgba(0, 167, 207, 0.85);
    border-radius: 5px;
    right: 150px;
    font-weight:400;
}
.sLabel {
	background:url(/image/label-flag.png);
	background-size:cover;
    width: 90px;
    height: 50px;
	padding:5px 10px 0 10px;
    color: rgb(252, 255, 149);
	display:inline-block;
	text-align:center;
	float:right;
}
.sLabelFree {
    width: 110px;
    height: 30px;
	padding:5px 10px 0 10px;
    color: rgb(136, 232, 255);
	display:inline-block;
	text-align:center;
	float:right;
}
.sDesc {
    color: #fff;
    margin-top: 20px;
}


.dropdownSort {
    right: 0;
    left:auto;
}



.btn {
    font-weight: 300;
}
.sCol .btn {
	position:absolute;
	bottom:25px;
}


.lBlockOver {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.4)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.4)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.4)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.4)); /* Standard syntax (must be last) */
    height:100%;
    width:100%;
    min-height:500px;
    padding:15px 0 10px 10px;
}

.lTerm{
	color:#fff;
	line-height:1.2;
}

.lTerm.lead {
    margin-bottom: 40px;
}
.lTerm-buy {
    margin: 0px 0px 40px 0px !important;
    padding-left: 30px;
}

.lTermPassed{
	float:right;
	background:url(/image/mk_over.png) no-repeat;;
	width:131px;
	height:50px;
	margin-top:25px;
}
.lTerm p {
	color:#fff;
    font-size: 18px;
}
.lTerm a{
	color:#fff;
	text-decoration:underline;
}


.l2Program h1 {
	text-align:center;
	color:#750b2c;
	margin-bottom:30px;
}
.l2ProgramBlock {
	display:inline-block;
}

.l2Program li {
    list-style: none;
    font-size: 20px;
}
.l2Program li:before {
    content:"·";
    font-size:30px;
    vertical-align:middle;
    line-height:20px;
    margin-right:5px;
}

.lDescription li {
    list-style: none;
    font-size: 20px;
}
.lDescription li:before {
    content:"·";
    font-size:30px;
    vertical-align:middle;
    line-height:20px;
    margin-right:5px;
}
.lDescription img {max-width:100%;}



.l3Photo img{
	width:100%;
	border-radius:50px;
}




.lPromo h1 {
	text-align:center;
	color:#750b2c;
	margin-bottom:20px;
	font-size: 34px;
}
.lPromo2 {
	color:#fff;
}
.lPromo2date {
	color:#fff;
}
.lPromo2 h3 {
	color:#fff;
}




.lDescription h1 {
	text-align:center;
	color:#750b2c;
	margin-bottom:20px;
}

.lDescription h3 {
	text-align:center;
	margin-bottom:20px;
}

.lChief  {
	padding-bottom:50px;
}


.lChief h1 {
	text-align:right;
	color:#750b2c;
	margin-bottom:20px;
	padding-right:300px;
}

.lChiefInfo {
	margin-bottom:20px;
	padding-right:300px;
	font-style:italic;
	text-align:justify;
}
.lChiefMore {
	text-align:justify;
}

.lChief img {
	position:absolute;
	right:0;
	top:-100px;
}
.lOnlineInfo{
	text-align:center;
}
.lOnlineInfo h3{
	text-align:center;
	margin-top:0px;
	margin-bottom:20px;
}

.lOnlineInfoText {
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.lOnlineInfoText2 {
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.lRelated {
	text-align:center;
}
.lRelated h3{
	text-align:center;
	margin-top:0px;
	margin-bottom:20px;
}


.lPicBlock {
	text-align:center;
	margin-bottom:30px;
}

.lPicBlock img{
	max-width:250px;
	border-radius:5px;
}
.lPicBlock h3{
	margin:10px 0 0 0;
}

.calendar {
	width:600px;
	margin:50px 0px;
}
.table>tbody>tr>td {
	border:0;
}
.day_active {
	background:#ff0;
}
.calendarMonth {
}
#steps {
    width: 898px;
    height: 65px;
    background-image: url(/image/paymentheader.png);
    background-size: 100% 100%;
    margin: 0 auto;
}
.radio label, .checkbox label {
}
.paymentInfo {
	color:#750b2c;
}
.sTitle {
	color: #750b2c;
}
.sDate {
	color:#888;
}

.breadcrumb a {
	color:#787878;
}

.imgText {
	margin:20px;
}

.homeSocialBlock {
	padding-bottom:20px;
}
.homeChiefBlock {
	padding-bottom:20px;
}
.homeVideoBlock {
	background: rgba(199, 198, 183, 0.1); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(199, 198, 183, 0.1) 0%, rgba(199, 198, 183, 0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199, 198, 183, 0.1)), color-stop(100%,rgba(199, 198, 183, 0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(199, 198, 183, 0.1) 0%,rgba(199, 198, 183, 0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(199, 198, 183, 0.1) 0%,rgba(199, 198, 183, 0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(199, 198, 183, 0.1) 0%,rgba(199, 198, 183, 0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(199, 198, 183, 0.1) 0%,rgba(199, 198, 183, 0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(199, 198, 183, 0.1)', endColorstr='rgba(199, 198, 183, 0.6)',GradientType=0 ); /* IE6-9 */
	padding-bottom:20px;
}

.label1, .label2, .label3 {
    float: left;
    text-align: center;
    top: -5px;
    color: #666666;
    position:relative;
    font-size:11px;
}

.label3 {
    left: 130px;
}
.label2 {
    left: 35px;
}
.label1 {
    left: 13px;
}


.icon-bar {
	background-color: #fff;
}


.fancybox-skin {
    padding: 2px!important;
}


label {
	font-weight: 300;
}


.formLand li>a {
        white-space: normal;
}
.formLand .input-lg {
    height: 40px;
}
.form-subscribe-buy button {
    width: 100%;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.form-subscribe-buy {
    padding: 0px;
}
.form-subscribe-buy button{
    margin: 0px;
    background: #477e8e !important;
}

.form-about {
    padding-top: 33px;   
}
.form-about > a > h2 {
    font-size: 18px;
    vertical-align: middle;
}
.form-about > h2 {
    font-weight: 300;
}
.form-about.col-md-8 h2 {
    margin-bottom: 30px;
}
.favorite-add-heart {
    float: right;
    margin-top: 15px;    
}
.favorite-add-heart > a {
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-size: 20px;
}

.form-subscribe {
        margin-bottom: 20px;
    } 
.form-subscribe .formLand button {
        margin-bottom: 10px;
}


.list-inline>li {
    padding-top: 5px;
    padding-right: 15px;
}

/* steps */
.steps {
    width: 33%;
    height: 65px;
    float:left;
    display: inline-block;
    background-color: #faf9e6!important;
}
.steps span {
    display: block;
    padding-top: 15px; 
    padding-left:20px;
    display: block;
    line-height: 16px;
}
.steps span strong {
    font-family: 'Open Sans', sans-serif;
	font-weight:500;
    
}

.active_step {
    background: url(/image/step_active.png) right top no-repeat;
    color: #ffffff;
}
.active_step2 {
    background: url(/image/active_step.png) no-repeat;
    margin-left: -32px;
    padding-left: 32px;
    color: #ffffff;
    width: 36%!important;
}
.list_title {
    font-family: 'Open Sans', sans-serif;
    display: block;
}




.cart_items {
    border-radius: 10px;
    box-shadow: 1px 3px 6.51px 0.49px rgba(0, 0, 0, 0.3);
    min-height: 160px;
}
.cart_items img {
    vertical-align: middle;
    max-height: 125px;
}


.course_title {
    display: block;
    color: #750b2c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 10px;
    text-decoration: underline;
}
.course_title:hover {
    text-decoration: none;
    color: #750b2c;
}

.cart_img {
    vertical-align: middle;
    line-height: 142px;
    margin-top:5px;
}

.cart_img img {
    max-width:100%;
}

.course_lable {
    color: #787878;
    font-size: 16px;
    line-height: 30px
}

.course_chif {
    font-size: 16px;
    color: #750b2c;
    text-decoration: underline;
}
.course_chif:hover {
    text-decoration: none;
    color: #750b2c;
}

.course_time {
    color: #423f17;
    font-weight: 400;
}

.course_del {
    display: block;
    height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
    position: absolute;
    margin-top: 115px;
}
.course_del:hover{
    text-decoration: none;
    color: #000000;
}

.course_price {
    font-size: 30px;
    font-weight: 700;
    color: #c12656;
    display: block;
    text-align: right;
    margin-right: 15px;
    margin-top: 10px;
}

.course_economy {
    font-weight: 400;
    color: #787878;
    line-height: 14px;
    display: block;
    text-align: right;
    margin-top: 15px;
}

.course_economy_summ {
    font-size: 18px;
    color: #c12656;
    display: block;
    text-align: right;
    font-weight: 400;
}
.course_favorite {
    display: block;
    height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
    position: absolute;
    margin-top: 115px;
    margin-left: 80px;
}
a.checked,
.course_favorite.checked{
	cursor: none;
	text-decoration: none;
	color: grey;
}
button[type='submit'].course_favorite{
	background-color: white;
	border: none;
}
button[type='submit'].course_favorite:hover{
	text-decoration: none;
}
.promo_lbl {
    font-size: 18px;
    font-weight: 300;
    color: #2bb3db;
}

.promo_inp {
    width: 120px;
    height: 29px;
}

.promo_btn {
    font-weight: 300;
    color: #f0f3f8;
    background-color: #477e8e;
}

.total_lbl {
    font-size: 18px;
    font-weight: 400;
    color: #423f17;
}

.total {
    text-align: right;
	/*line-height: 50px;*/
	white-space: nowrap;
}

.total_price {
    color: #c12656;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px
}

.total_lbl2 {
    color: #423f17;
    font-weight: 400;
}

.total_price2 {
    font-size: 18px;
    font-weight: 400;
    color: #c12656;
}
.payment_description{
	margin-top: 100px;
}

.phone_block {
	font-size: 20px;
	font-weight: 300;
	color: #423f17;
	line-height: 30px;
}
.phone_block h3 {
    font-weight: 300;
    color: #750b2c;
}
.phone_block a {
    color: #750b2c;
    font-weight: 400;
    text-decoration: none;
}
.phone_block a:hover {
    text-decoration: none
}
.phone_block table {
    margin-top:10px
}
.phone_block table tr td {
    vertical-align: top;
    text-align: left;
    padding-bottom: 10px;
    line-height: 20px
}
.phone_block table tr td:first-child {
    width: 120px
}
.phone_block table tr td:last-child {
    font-weight: 400;
}

.list_ico {
    display: block;
   background: url(/image/list_ico.png) no-repeat;
    width: 14px;
    height: 13px;
    float: left;
    margin:2px 10px 0px 10px;
}

.info_text {
    color: #0b7516;
    font-weight: 300;
    text-align: justify;
    line-height: 20px;   
}

.info_block {
    border: 1px solid #E6FAE9;
    padding:15px
}
.pay_start_block {
    background-color: #E6FAE9;
    padding: 5px 20px;
    text-align:center;
}
.pay_start_block form {
}
.pay_start_block .total_sum_lbl {
    color: #423f17;
    font-size: 16px;
    font-weight: 400;
}
.pay_start_block .total_sum_price {
    color: #c12656;
    font-size: 24px;
    font-weight: 700;
	white-space: nowrap;
}
.pay_start_block .btn {
}
.pay_start_block .total_sum_info {
    color: #787878;
    font-weight: 400;
}
.pay_start_block .total_sum_back {
    color: #750b2c;
    line-height: 16px;
    font-weight: 300;
}
.pay_start_block .go_pay {
    background-color: #477e8e;
    font-size: 18px;
    color: #ffffff;
    max-width: 210px;
    display:block;
    margin: 15px auto;
}


.payment_list_title {
    color: #2bb3db;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.payment_info_block {
    background-color: #faf9e6;
    border:2px solid #477e8e!important;
    padding:15px 10px;
    font-size: 18px;
    font-weight: 300;
    color: #2d515b;
    width: 274px;
    text-align: center;
    line-height: 20px
}
.payment_info_block h3 {
    font-size: 20px;
    font-weight: 300;
    color: #2d515b;
    
    text-align: center;
}
.payment_info_block a {
    color: #750b2c;
    font-weight: 400;
    text-decoration: none;
}
.payment_info_block a:hover {
    text-decoration: none
}
.payment_info_block table {
    margin-top:10px
}
.payment_info_block table tr td {
    vertical-align: top;
    padding-bottom: 10px;
    line-height: 18px
}
.payment_info_block table tr td:first-child {
    width: 90px;
    text-align: left;
}
.payment_info_block table tr td:last-child {
    font-weight: 400;
    text-align: right;
}

.online_line {
    height: 30px;
    background-color: #750b2c!important;
    width: 100%;
}

.line_close {
    display: block;
    background: url(/image/close_line.png) no-repeat;
    width: 11px;
    height: 11px;
    float: right;
    margin:10px 10px 0 0;
}


.off_line_link {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px    
}
.off_line_link:hover {
    color: #ffffff;
}

.onlineBlock {
    background-size: auto 100%;
    height: 300px;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
    transition: background-size 1s;
    background-position-x: 50%;
}
.onlineBlock:hover {
    background-size: auto 120%;
}

.onlineInfo {
    background-color: #faf9e6;
    padding: 10px;
    color: #787878;
    line-height: 26px;
    min-height: 225px;
    margin-bottom: 10px;
}
.onlineInfo a:hover {
    color: #750b2c;
    text-decoration: none
}

.video_name {
    color: #750b2c;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    line-height: 22px;
}

.chif_lnk {
    color: #750b2c;
    text-decoration: underline;
}

.online_price {
    font-size:20px;
    color: #c12656;
    font-weight: 400;
}
.toCart {
    display: block;
    background:  url(/image/cart1.png) 20px 10px no-repeat;
    width: 214px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 40px;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 10px   
}

.toCart-list {
    display: block;
    background:  url(/image/cart1.png) 20px 10px no-repeat;
    width: 214px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 40px;
    line-height: 30px;
    margin-left: 14px;
    margin-top: 10px  
}


.toCart-nearest {
    display: block;
    background:  url(/image/cart1.png) 20px 10px no-repeat;
    width: 214px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 40px;
    line-height: 30px;
    margin-top: 45px;
}

.toCart-chiefs {
    display: block;
    background:  url(/image/cart1.png) 20px 10px no-repeat;
    width: 214px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 40px;
    line-height: 30px;
    margin-left: 25px;
    margin-top: 10px
}


.inCart {
    display: block;
    background:  url(/image/cart1.png) 20px 10px no-repeat;
    width: 214px;
    height: 45px;
    background-color:#acacac;
    border-radius: 5px;
    color:#464646;
    font-size: 18px;
    font-weight: 300;
    padding-left: 40px;
    line-height: 30px;
    margin-left: 15px;
    margin-top: 10px
}

.online_available {
    font-size: 16px;
    color: #464646;
    font-weight: normal;
    font-style: italic;
}

.see_available {
    font-size: 18px;
    color: #750b2c;
    font-weight: 300;
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: underline;
}


/* рецепты */
.recept_main_picture {
    border:1px solid #cccccc;
    padding:5px;
}
.recept_main_picture img {
    width: 100%;
    height: 100%;
}
.recept_desc h1 {
    font-size: 24px;
    color: #2bb3db;
    line-height: 24px;
    font-weight: 300;
}
.recept_desc p {
    font-size: 16px;
    color: #464646;
    line-height: 24px;
    font-weight: 300;
    padding-top:5px;
    text-align: justify;
}

.slide_block {
  padding: 0px 5px;
}

.slide_block a {
    display: block;
    height: 220px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}


.slider {
    background-color:#d3d8dc;
    height: 285px;
}


.slide_left_ico {
    width: 21px;
    height: 57px;
    display: block;
    margin-top: 80px;
    margin-left: -30px;
    background: url(/image/slide_left.png) no-repeat;
}

.slide_right_ico {
    width: 21px;
    height: 57px;
    display: block;
    margin-top: 80px;
    background: url(/image/slide_right.png) no-repeat;
}
.carousel-control.left {
    background:none;
    width: 40px;
}
.carousel-control.right {
    background:none;
    width: 40px;
    right: -50px;
}
.slide_more_count {
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    margin-top:80px;
    margin-left: 90px;
    z-index: 100
}

.album_lbl {
    font-size: 18px;
    font-weight: 400;
    color: #787878;
}

.album_link {
    font-size: 18px;
    color: #750b2c;
    font-weight: 400;
    text-decoration: underline;
}

.slide_name_block {
    margin-top:10px;
}

.photo_num {
    font-weight: 400;
    color: #787878;
}

.navlogo > li > a:hover, .navlogo > li > a:focus {
    background-color: #faf9e6;
}

.header-phone {
    padding-top:20px;
    padding-bottom:10px;
    padding-right: 20px;
}
.header-phone div {
    color:#787878;
}



.icon-kica {
    padding-right: 5px;
}

.navbar-nav {
    margin: 0px 0px;
}

.navbar-collapse {
    padding-right: 0px;
}


.navbar-nav>li>.dropdown-menu a {
        padding: 0px 5px;
}

.dropdown-menu {
    padding: 10px 0px;
    width: 330px;
}



.dropdown-menu>li>a {
    white-space: normal;
    line-height: 25px;
}

.dropdown-menu > li > a:hover {
    background-color: #faf9e6;
    background-image: none;
    color: #750b2c;
}

.dropdown-menu > li:hover{
    background-color: #faf9e6;
    background-image: none;
    color: #750b2c;
}
.dropdown-menu > li.disabled:hover{
	background: none;
	color: #777;
}


.breadcrumb {
    padding: 10px 15px;
}


.dropdown-showall {
    padding: 10px 15px 15px 15px!important;
    font-size: 17px!important;
    background-color: #faf9e6;
    text-decoration: underline;
}


.navbar-right .dropdown-menu {
    left: 0px;
}


.dropdown-menu-right {
    width: 240px;
}

.dropdown-menu-right img {
    margin:10px 15px;
}


.dropdown-menu-right div {
    padding:8px 0px;
}


.subscribe-form {
    margin: 65px auto 0px auto;
}


.index-all-link {
    margin-left: 30px;
    color: #787878;
    font-size: 16px;
}

.index-all-link:hover {
    color: #787878;
}

.chiefs-details {
    text-align: justify;
    color: #333333
}


.Ingredients {
}
.Ingredients h2 {
    font-size: 24px;
    font-weight: 300;
    color: #2bb3db;
}
.Ingredients p {
    font-size: 16px;
    color: #464646;
    font-weight: 300;
}
.Ingredients ul {
}
.Ingredients li {
    font-size: 16px;
    line-height: 24px;
    color: #464646;
    font-weight: 300;
}
/*инградиенты*/

/* instruction*/
.Instruction {
}
.Instruction h2 {
    font-size: 24px;
    font-weight: 300;
    color: #2bb3db;
}
.Instruction p {
    font-size: 16px;
    color: #464646;
    font-weight: 300;
    text-align: justify;
    padding-top:10px;
}
.Instruction p a {
    font-size: 16px;
    color: #750b2c;
}
/* instruction*/

/* subscribe */
.subscribe_block {
    background-color: #faf9e6;
    padding:10px;
    text-align: center;
    margin-top: 25px
}
.subscribe_block p {
    font-size: 18px;
    font-weight: 400;
    color: #2d515b;
    line-height: normal;
    text-align: justify!important;
}
.subscribe_block form {
    margin-top:10px
}
.subscribe_block input {
    width: 215px;
    height: 45px;
    font-size: 16px;
    padding: 5px;
    margin-top:10px
}
.subscribe_block .btn {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #477e8e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

.nearest_broadcast {
    background: url(/image/nearest_bg.png);
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nearest_broadcast .time_left {
    width: 89px;
    height: 89px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}
.nearest_broadcast .time_left span {
    display: block;
    color: #787878;
}
.nearest_broadcast .time_left span:first-child {
    line-height: 20px
}

.nearest_broadcast .time_left span:nth-child(2) {
    font-size: 39px;
    line-height: 40px;
}
.nearest_broadcast .time_left span:last-child {
    font-size: 18px;
}

.nearest_info {
    background-color: #faf9e6;
    height: 320px;
}
.nearest_info .herth {
    background: url(/image/herth.png) 0px 0px no-repeat;
    display: inline-block;
    padding-left: 18px;
    color: #333333;
    font-weight: 300;
    line-height: 12px;
    height: 14px
}
.nearest_info .comments {
    background: url(/image/comments_ico.png) 0px 0px no-repeat;
    display: inline-block;
    padding-left: 20px;
    color: #333333;
    font-weight: 300;
    line-height: 12px;
    height: 14px
}
.nearest_info .views {
    background: url(/image/views_ico.png) 0px 0px no-repeat;
    display: inline-block;
    padding-left: 20px;
    color: #333333;
    font-weight: 300;
    line-height: 12px;
    height: 14px
}
.social_ico {
    margin-bottom:15px
}

/* lable block*/
.Labele_block {
}
.Labele_block h2 {
    font-size: 24px;
    font-weight: 300;
    color: #2bb3db;
}
.Labele_block .tags {
    background-color: #477e8e;
    font-size: 13px;
    line-height: 8px;
    color: #ffffff;
    height: 25px;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

/* lable block*/
.social_group {
    clear: both;
    margin-top:30px
}
.social_group span{
    font-size: 17px;
    color: #2d515b;
    font-weight: 300;
    text-align: left;
    line-height: 15px;
}



.comments_block {
    margin-top:20px;
    border-top:1px solid #eaeaea;
    margin-left:15px;
    padding-top: 15px
}
.comments_block .num_comments {
    font-family: 'Arial';
    font-size:12px;
    font-weight: bold;
}
.comments_block .add_comments {
    background-color:#f1f1f1;
    width: 100%;
    height: 90px;
    padding:10px;
    
}
.add_comments textarea {
    width: 100%;
    height: 42px;
    border:1px solid #bdc7d8;
    font-size: 11px;
    resize: none;
}
.add_comments .add_btn {
    float: right;
    background-color: #637bad;
    border:1px solid #2f477a;
    border-radius: none!important;
    color:#ffffff;
    font-size: 12px;
    height: 22px;
    line-height: 9px;
    padding:3px 12px;
    margin-top:5px;
}
.add_comments span {
    color:#666666;
    font-size: 12px;
    line-height: 15px
}
.comments_item {
    padding: 10px
}
.comments_item .user_name {
    font-weight: 400;
    color:#3b5998;
}
.comments_item p {
    font-size: 12px;
    line-height: 13px
}

#top_slider .carousel-inner{
    height: 488px;
    padding: 0px;
    margin:0
}
#top_slider {
    padding: 0px;
    margin:0;
    max-height:500px;
    cursor:pointer;
}
#top_slider .slide_left_ico {
    margin-top: 210px;
    margin-left:20px
}
#top_slider .slide_right_ico {
    margin-top: 210px;
    margin-right: 30px
}
#top_slider img {
    width:100%;
}


.top_slide_name_block {
	background: url(/image/top_sl_bg.png);
	width: 100%;
	height: 125px;
	position: absolute;
	top:365px;
}

.top_slide_name_block .course_name {
    font-size: 36px;
    color: #0d3642;
    font-weight: 400;
    display: block
}

.top_slide_name_block .course_chif {
    font-size: 30px;
    color: #0d3642;
    display: block;
    font-weight: 400;
    text-decoration: none;
    
}
.top_slide_name_block .toCart {
    width: 190px!important;
    float: left;
    margin-top:20px
    
}
.top_slide_name_block .course_price{
    font-size: 48px;
    color: #c12656;
    font-weight: 700;
    display: block;
    margin-top: 10px
}
#reviews_slider .carousel-inner {
    height: 508px;
    margin:0
}

#reviews_slider .carousel-inner img {
    height: 508px;
    width: 100%
}

#reviews_slider .slide_left_ico {
    margin-top:240px;
    margin-left:20px
}
#reviews_slider .slide_right_ico {
     margin-top:240px;
    margin-right: 50px
}
#reviews_slider .reviews_slide_name_block {
    position: absolute;
    z-index: 200;
    margin-top:40px
}
#reviews_slider .title {
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    display: block;
}

#reviews_slider .course_name {
    font-size:24px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    display: block;
    margin-top:20px;
    text-decoration: underline;
    color: #ffffff;
}
#reviews_slider p {
    font-size: 18px;
    color: #ffffff;
    text-align: justify;
    padding-top:15px
}
.reviews_slide_name_block .user_ico {
    width: 58px;
    height: 58px;
    display: block;
    border-radius: 29px;
    overflow: hidden;
    float: left
}
.reviews_slide_name_block  .user_ico img{
    width: 58px;
    height: 58px!important;
    margin-right: 15px
}
.reviews_slide_name_block .user_name {
    font-size: 20px;
    color: #ffffff;
    line-height: 58px;
    font-weight: 400;
    
    padding-left:15px
}


    .nearest-broadcast-img {
        padding: 0 0;
        background-image:url(/image/near_pic.png);
        background-repeat:no-repeat;
        height:320px;
        background-size: cover;
        background-position: 50% 50%;
    }


.btn-primary {
    color: #fff;
    background-color: #477e8e;
    border-color: #477e8e;
}
.home-video-item .btn-primary{
	left: 41px;
}
.btn-primary:focus, .btn-primary .focus {
    color: #fff;
    background-color: #2d515b;
    border-color: #2d515b;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0d3642;
    border-color: #0d3642;
}


.chiefs-top-background {
    background-size:cover;
    height:380px;
    opacity: 0.1;
    width: 100%;
    position: absolute;
    z-index: -1;
}


.breadcrumb{
    padding: 10px 0px;
}

.chief-block {
   height: 380px;
}

.chief-description {
    padding-left: 0px;
    padding-right: 60px;
}

.chiefs-social-top {
    position: absolute;
}

.chiefs-social {
    position: relative;
    bottom: -270px;
}

.topmenu-topline {
    font-size: 12px;
}

    .topmenu-bottomline {
    font-size: 16px;
}





    .article-short-description {
    text-align: justify;
}

    .chiefs-follow {
    margin: 20px;
    }


.img-old-video {
    border-radius: 4px;
    margin: 0px 10px 10px 0px;
}


.social-follow-ico {
    padding: 0px 5px;
}


.lead {
        font-size: 16px;
        text-align: justify;
        margin-bottom: 10px;
    }







/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.flip-clock-meridium a { color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 490px;
  margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden; 
  outline: 1px solid transparent !important; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #fff;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #750b2c;
  border-radius: 6px;
  font-size: 70px; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #750b2c;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: #750b2c;
  text-shadow: none; 
  font-size: 16px;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

.flip-clock-dot.top {
  top: 30px; }

.flip-clock-dot.bottom {
  bottom: 30px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
.titlecatalog,
 .form-horizontal .titlecatalog{
	 text-align: center;
 }
.form-horizontal input,
.form-horizontal textarea{
	margin:0 auto;
	display: block;
	/*width:40%;*/
	resize: none;
}
.form-horizontal .control-group{
	text-align: center;
}



@media (max-width: 1198px){
    
    
    
    .toCart {
    margin-left: 25px;
    }
    
    .toCart-list {
    margin-left: 25px;    
    }
    
    .toCart-chiefs {
    margin-left: 2px;
        
    }
    
    .chiefsList div {
        font-size: 14px;
    }
    
    .cheifTitle{
        font-size: 26px;
    }
    
    
    
    .chiefPhoto-list {
    width: 115px;
    height: 115px;    
    }
    
}


@media (max-width: 992px) {
    .navbar-kica li a {
        font-size:15px;
        padding:8px 15px 12px 15px;
    }
    .navlogo>li>a {
        font-size: 16px;
        line-height: 55px;
        padding: 15px 10px;
    }
    
    .onlineBlock {
        height: 200px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 60% 40%;
        transition: background-size 1s;
    }  
    
    .onlineBlock:hover {
        background-size: 120% auto;
    }
    
    .onlineInfo {
        min-height: 180px;
    }
    
    .toCart {
        margin-left: 40px;
    }
    
    .toCart-list {
        margin-left: 80px;
    }
    
    .toCart-nearest {
        margin-top: 10px;
    }

    .form-subscribe-buy button{
        width: auto;
    }
    

    .nearest-broadcast-img {
            height: 200px;
    }
    
  
    
    .nearest_info{
        height: 149px;
    }
    
    .course_title {
        font-size: 16px;
    }
    
    .course_lable {
        font-size: 14px;
    }
    
    .chiefs-social {
    bottom: -10px;
    }
    
    .toCart-chiefs {
    background-position: 20px 10px;
    width: 214px;
    margin-left: 25px;
    }
    
    .chiefs-follow {
        margin: 20px 0px;
    }

    .chiefPhoto-list {
    width: 105px;
    height: 105px;    
    }
    
    .chief-description {
        padding-right: 0px;
    }
    
}


    
    


@media (max-width: 767px) {
    .navbar-nav>li>.dropdown-menu a {
        color: #fff;
    }
    .logo {
        text-align: center;
    }
    .navlogo>li{
        float:left;
        width:33%;
    }
    
    .navlogo>li>a {
        font-size: 16px;
        line-height: 40px;
        padding: 0px 15px;
    }
   
    .header-phone div {
        color:#787878;
        float: left;
    }
   
    .header-phone {
        padding-top:5px;
        padding-bottom:0px;
        padding-right: 30px;
        padding-left: 30px;
        height: 27px;
    }
    
    .list_title h3 {
        font-size: 16px;
    }
    
    .index-all-link {
        font-size: 14px;
    }
    
    .subscribe {
        height: 250px;
    }
    
    .subscribe-form {
        margin: 15px auto 0px auto;
    }
    
    .nearest_broadcast {
        padding-top: 1px;
    }
    
    .cheifTitle {
        text-align: center;
    }
    .chiefPhotoBig {
    width: 100px;
    }
    .chief-description {
    padding-left: 0px;
    padding-right: 0px;
    }
    
    .chief-block {
   height: 280px;
    }
    
    .chiefs-social-top {
    position: relative;
    }
    
    .chiefs-social {
    text-align: center;
    bottom: 0px;
    }
    
    .chiefs-follow {
    display: inline;
    margin: 0px 10px;
    }
    
    .social-follow-ico {
    display: inline;
    }
    
    .chiefsList div {
    height: 160px;    
    }
    
    .slide_left_ico {
    margin-left: 20px;
    }
    
    .carousel-control.right {
    right: 0px;    
    }
    
    .slide_name_block {
        margin-left: 20px;    
    }
    
    

    /* FORM SIGN UP FOR A COURSE */

    .form-about{
        padding: 0px;
    }
    /* add to favorites */
    .form-about > .favorite-add-heart {
        margin: 0px;    
    }
    .form-about > .favorite-add-heart > a {
        font-size: 14px;
    }
    .form-subscribe {
        margin-bottom: 20px;
    } 
    .form-subscribe .formLand button {
        margin-bottom: 10px;
    }

    /* FORM BUY A COURSE */
    .form-about > .lTerm-buy {
        padding: 0 30px 0 30px !important;
    }
    .formLand > center > button {
       margin-bottom: 0 !important;
    }
}

@media (max-width: 500px) {
	form.form-horizontal input,
	form.form-horizontal textarea{
		width:90%;
	}

     .subscribe {
        height: 300px;
    }

    /* FORM SIGN UP FOR A COURSE */

    .form-about{
        padding: 0px;
    }
    /* Name and photo of chief */
    .form-about .chiefPhoto {
        width: 60px;
        height: 60px;
    }
    .form-about > a {
        margin: 0px;
    }
    .form-about > a > h2 {
        margin-left: 5px !important;
    }

    /* add to favorites */
    .form-about > .favorite-add-heart {
        margin: 0px;    
    }
    .form-about > .favorite-add-heart > a {
        font-size: 12px;
    } 
    /* course title */
    .form-about > h2 {
        margin: 30px 0px 0px 0px;
    }
    .form-about > .lTerm {
        margin-bottom: 20px;
    }
    .form-subscribe {
        padding: 0px;
        margin-bottom: 20px;
    } 
    
    .chiefs-follow {
        margin: 0px 5px;
    }
    
    .btnSocial-chiefs h3 {
        margin: 10px 0px;
    }

}

@media (max-width: 370px) {
    
     .subscribe {
        height: 350px;
    }

    /* FORM SIGN UP FOR A COURSE */

    .form-about{
        padding: 0px;
    }
    /* Name and photo of chief */
    .form-about .chiefPhoto {
        width: 60px;
        height: 60px;
    }
    .form-about > a {
        margin: 0px;
    }
    /* add to favorites */
    .form-about > .favorite-add-heart {
        margin: 0px;    
    }
    .form-about > .favorite-add-heart > a {
        font-size: 10px;
    } 
    /* course title */
    .form-about > h2 {
        margin: 50px 0px 0px 0px;
    }
    .form-about > .lTerm {
        margin-bottom: 20px;
    }
    /* share buttons */
    .form-about > div#maxShare .sharrre .box > a {
        width: 60px;
    }
    .form-subscribe {
        padding: 0px;
        margin-bottom: 20px;
    } 
    
}


@media (max-width: 330px) {
    .toCart {
    margin-left: 10px;
    }
    .sCol .btn {
        bottom: 10px;    
    }
    .chiefPhoto-list {
    width: 90px;
    height: 90px;
    }

    /* FORM SIGN UP FOR A COURSE */

    .form-about{
        padding: 0px;
    }
    /* Name and photo of chief */
    .form-about .chiefPhoto {
        width: 60px;
        height: 60px;
    }
    .form-about > a {
        margin: 0px;
    }
    /* add to favorites */
    .form-about > .favorite-add-heart {
        margin: 0px;    
    }
    .form-about > .favorite-add-heart > a {
        font-size: 10px;
    } 
    /* course title */
    .form-about > h2 {
        margin: 50px 0px 0px 0px;
    }
    .form-about > .lTerm {
        margin-bottom: 20px;
    }
    /* share buttons */
    .form-about > div#maxShare .sharrre .box > a {
        width: 60px;
    }
    .form-subscribe {
        padding: 0px;
        margin-bottom: 20px;
    } 
    
    
    .sharrre .share {
        width: 60px;
    }
    .sharrre .count {
         width: 60px;
    }
    
    .chiefs-follow a img {
        width: 75px;
    }
    
}
h3.caption{
	display: inline;
}
.padding-right20{
	padding-right: 20px;
}
.list_title{
	padding: 20px 0px 10px 0px;
}
.dropdown-menu li.disabled{
	cursor: none;
}
.recipe-cart-wrap{
	position: absolute;
	top: 60px;
	right: 0;
	padding-right: 40px;
	color: #18a4ce;
	font-size: 20px;
}
/*.recipe-cart-wrap span{*/
	/*text-shadow: 0 0 3px grey;*/
/*}*/
.bg{
	background: rgba(0,0,0,.5);
	position: fixed;
	height: 100vh;
	top: 0;
	width: 100vw;
	z-index: 102;
}
.popup{
	background: #69b01a;
	border: 5px dashed black;
	position: absolute;
	top: 200px;
	width: 600px;
	height: 350px;
	z-index: 103;
	text-align: center;
	left: calc(50% - 300px);
}
.text-item{
	display: inline-block;
	float: none;
	font-weight: bold;
}
.popup .text-item.wait{
	background: rgba(0,0,0,.2);
	padding: 5px;
	width: 60%;
	margin-top: 20px;
	border-radius: 5px;
}
.popup .text-item.discount{
	color: white;
	font-size: 40px;
}
.popup .text-item.desc{
	font-weight: normal;
	font-size: 20px;
	color: black;
	margin-top: 10px;
}
.popup .text-item.more-button{
	width: 60%;
	padding: 20px;
	background: linear-gradient(#fe9304, #8f5100);
	margin-top: 20px;
	color: black;
	font-size: 30px;
	border-radius: 5px;
	cursor: pointer;
}
.popup .close{
	background: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/png/512/android-close.png");
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	background-size: contain;
}
.popup .name,
.popup .email {
	width: 200px;
	padding: 20px;
	border-radius: 5px;
	font-size: 20px;
}
.popup .name{
	margin-right: 10px;
}
.popup .submit{
	padding: 20px;
	width: 70%;
	background: linear-gradient(#fe9304, #8f5100);
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 30px;
	color: black;
}