/*@import '/include/css/jquery.fancybox.css';*/

.link-dashed {
    text-decoration: none;
    cursor:pointer;
}

.link-dashed:hover {
     border-bottom: dashed 1px #ccc;
}




/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.form-group.required .control-label:after {
  content:"*";
  color:red;
}

text {
    background: #ECFCE3;
    color: #000;
    padding: 0;
    display: inline-block;
    border: 1px dashed #ccc;
}
textblock {
    background: #ECFCE3;
    color: #000;
    padding: 0;
    display: block;
    border: 1px dashed #ccc;
    margin-bottom: 20px;
}
mark.admin-link {
	background: #fffc00;
   
}
mark.admin-btn {
    position: relative;
    line-height:0.0001;
    z-index: 1000;
    left: 98%;
    top: -10px;
    border: 1px dashed #ccc;
    background: #fffc00;
}



#maxShare{
    float:left;
}
.sharrre{
	margin:0 5px 0 0;
	display:inline-block;
}
.sharrre .box a:hover{
	text-decoration:none;
}
.sharrre .count {
	color:#525b67;
	display:block;
	font-size:14px;
	line-height:30px;
	height:30px;
	position:relative;
	text-align:center;
	width:70px;
	border:0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
	background: #faf9e6; /* Old browsers */
}
.sharrre .share {
	color:#FFFFFF;
	display:block;
	font-size:11px;
	height:20px;
	line-height:20px;
	margin-top:0px;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:70px;
	text-transform:uppercase;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; 


}
#twitter .share {
	background: #00aced;
}
#facebook .share {
	background: #3b5998; /* Old browsers */
}
#googleplus .share {
	background: #6d6d6d; /* Old browsers */
}
#pinterest .share {
	background: #c6505d; /* Old browsers */
}
#comment .share {
	background: #1ea5cc; /* Old browsers */
}
#views .share {
	background: #750b2c; /* Old browsers */
}
#shares .share {
	background: #423f17; /* Old browsers */
}

/*
LOGIN SIGN IN  FORM
*/
.formBlockGate {
    margin-top:40px;
    background:#faf9e6;
    width:100%;
}
.formBlockGate h3{
    padding: 0px;
    position: relative;
    top:-29px;
    text-align: center;
    margin: 0px;
}
.formBlockGate h3 a{
    border:1px solid grey;
    background: #8f8e7b;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #faf9e6;
}
.formBlockGate h3 a:focus{
    text-decoration: none;
    outline: none;
}
.formBlockGate h3 a.active{
    border:1px solid #faf9e6;
    background:#faf9e6;
}
.formBlockGate .fbody{
    padding:10px 30px;
    padding-top:0px;
}
.shtora{
    display: none;
    position: absolute;
    left: 15px;
    top: 40px;
    height: 468px;
    background:#faf9e6;
    width:93%;
}
.formBlockGate .agreement{
    text-align: center;
}
.formBlockGate div.warning{
    color:red;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: bold;
}


.shtora ul li,
.shtora h4{
    list-style:none;
    padding: 5px;
    padding-left: 10px;
}
.shtora span{
    float: left;
    margin-left: 10px;
    clear: both;
}

.formConformSignin{
    position: absolute;
    bottom:30px;
    left: 40px;
}
.formConformSignin span{
    float: none;
}

.btn-lg, .btn-group-lg > .btn{
    padding: 9px 16px;
}

/* thanks dialog after registrtation */
.thanksModal {
    width: 50%;
    height: 60%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10%;
    left: 25%;
}
.thanksModal-content {
    height: auto;
    min-height: 50%;
    border-radius: 0;
    padding: 20px;
}
.thanksModal-content span{
    float: right;
}